.navbar {
    background: #4A7BEB;
    box-shadow: 0 -2px 3px #f1f1f1;
    min-height: 4rem;
    top: 0;

    display: flex;
    align-items: center;
    flex-direction: row;

    ul {
        display: flex;
        flex-direction: row;
    }
    
    li {
        padding: 1rem;

        a {
            color: #9CB7F6;
        }

        &:hover {
            cursor: pointer;
            a {
                color: #CAD9FC;
            }
        }
    }
    
    .active > a,
    .active:hover > a {
        color: white;
        font-weight: 500;
    }
}