.navbar {
    background: #4A7BEB;
    box-shadow: 0 -2px 3px #f1f1f1;
    min-height: 4rem;
    top: 0;

    display: flex;
    align-items: center;
    flex-direction: row;
}

.navbar > ul {
    display: flex;
    flex-direction: row;
}

.navbar li {
    padding: 1rem;
}

.navbar li > a {
    color: #9CB7F6;
}

.navbar li:hover {
    cursor: pointer;
}

.navbar li:hover > a {
    color: #CAD9FC;
}

.navbar .active > a,
.navbar .active:hover > a {
    color: white;
    font-weight: 500;
}