.footer {
    box-shadow: 0 -2px 3px #f1f1f1;
    padding: 18px 0;
}

.footer .container {
    padding: 3rem;
}

.footer ul {
    display: flex;
    flex-direction: row;
}

.footer li {
    padding: 1rem;
}

.footer a {
    color: #495057
}

.footer a:hover {
    color: #007bff;
    text-decoration: underline;
}

.footer p {
    color: #6c757d;
}