.footer {
    box-shadow: 0 -2px 3px #f1f1f1;
    padding: 18px 0;

    .container {
        padding: 3rem;
    }

    ul {
        display: flex;
        flex-direction: row;
    }

    li {
        padding: 1rem;
    }

    a {
        color: #495057;

        &:hover {
            color: #007bff;
            text-decoration: underline;
        }
    }
    
    p {
        color: #6c757d;
    }
}